
h1,h2,h3,h4,h5,h6{
	transform: scaleY(1.2);
	color:#444;
}
p{
	color:#888;
	line-height: 22px;
	font-size: 14px;
}
a{
	color:#555;
}

.sevenmain{
	width: 85%;
	margin:0 auto;
	/*height: 1000px;*/
	/*background: lightyellow;*/
	padding-top: 100px;
}
.sevenmain::after{
	content: "";
	display: block;
	clear: both;
}

.sevenmain .sevenleft{
	width: 31%;
	float:left;
	/*background: lightblue;*/
	height:100%;
	position: relative;
}
.sevenmain .sevenleft>div{
	border:1px solid #dedede;
	margin-bottom: 40px;
}
/*第一个*/
.sevenleft .leftone{
	padding:20px 0px;
}
.sevenleft .leftone input{
	display: block;
	width: 86%;
	height: 30px;
	padding:0 30px 0 10px;
	margin:0 auto;
}
.sevenleft .search{
	width: 30px;height: 27px;
	position: absolute;
	top:22px;
	right:27px;
	background: url(../images/index2/search.gif);
	cursor:pointer;
}
/*第二个*/

.sevenleft .lefttwo{
	width: 100%;
	padding:14px;
	text-align: center;
	position: relative;

}
.sevenleft .lefttwo>div{
	position: absolute;
	left:50%;
	margin-left: -50px;
	top:170px;
	width: 100px;height: 100px;
	background: url(../images/index2/team-1.jpg);
	border:3px solid white;
	border-radius: 50%;
	background-size: 100% 100%;
}
.sevenleft .lefttwo img{
	width: 100%;
	height: 100%;
}
.sevenleft .lefttwo h3{
	margin-top: 60px;
}


/*第三个*/
.sevenleft .leftthree{
	padding:15px;
	padding-bottom: 50px;
}
hr{
	clear: both;
	border:none;
/*	border-width: 50px;
	border-color:#efefef;*/
	border-top:1px solid rgb(240,240,240);
	/*background:transparent;*/
	/*margin: 10px 0 15px 0;*/
	margin-top: 25px;
}
.sevenleft .leftthree ul>li{
	clear: both;
	display: block;
	/*border-bottom: 1px solid #eee;*/
	/*margin-bottom: 20px;*/
	padding:15px 0 0px 0;
}
.sevenleft .leftthree h3{
	margin-top: 15px;
}
.sevenleft .leftthree a{
	font-size: 15px;
	float: left;
	transition: all .5s;
}
.sevenleft .leftthree a:hover{
	text-decoration:underline;
}
.sevenleft .leftthree p{
	color:black;
	width: 22px;height: 20px;
	line-height: 20px;
	text-align: center;
   float: right;
   border:1px solid #bbb;
}

/*第四个*/
.sevenleft .leftfour{
	padding:15px;
}
.sevenleft .leftfour h3{
	margin-top: 15px;
   margin-bottom: 25px;
}
.sevenleft .leftfour li{
	padding-bottom: 15px;
}
.sevenleft .leftfour a{
	font-size: 15px;
	transition:all .5s;
}
.sevenleft .leftfour a:hover{
	color:#02bdd5;
}
.sevenleft .leftfour p{
	color:#aaa;
	line-height: 24px;
	font-size: 13px;
}







.sevenmain .sevenright{
	width: 66%;
	float:right;
	/*background: lightgreen;*/
	height:100%;
}
.sevenmain .sevenright>div{
	margin-bottom: 90px;
}
.sevenmain .sevenright img{
	width: 100%;
	cursor:pointer;
}
.sevenmain .sevenright h2{
	margin:20px 0 10px 0;
}
.sevenmain .sevenright p{
   color:#666;

}
.sevenmain .sevenright .righttime{
color:#aaa;
margin-bottom: 20px;
}
.sevenmain .sevenright button a{
	color: white;
	display: block;
	width: 136px;height: 32px;
	line-height: 32px;
	text-align: center;
	background:#02bdd5;
	margin:0 auto;
}
.sevenmain .sevenright button{
	width: 140px;height: 36px;
	background:#fff;
	margin-top:20px;
	border:1px solid #02bdd5;
}
.sevenmain .sevenright .rightthree{
	margin-bottom: 0;
}










/*触碰效果*/
a,a:active,a:focus,a:hover,input,input:active,input:focus,input:hover{outline:0}
.container{
	position:relative;
	/*display:block;*/
	width:100%;
	/*display:flex;*/
}
.container img{
	/*width: 100%;*/
	transition:filter 1.5s;
}
.container .caption{
	position:absolute;
	padding:30px;
	width:100%;
	height:100%;
	z-index:1
}
.container .caption .title{
	position:relative;
	width:100%;height:100%;
	text-align:center;
	color:#fffffb;
	opacity:.85;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	opacity:0;
	text-shadow:1px 1px 2px rgba(0,0,0,.26);
	box-shadow:0 0 30px 20px rgba(0,0,0,.46);
	transition:opacity .5s
}
.container .caption .title::before{
	content:'';
    position:absolute;
    left:0;
    top:50%;
    width:99.5%;
    height:0;
    overflow:hidden;
    border:3px solid red;
    border-width:0 3px;
    visibility:hidden;
    transition:all 1.5s;
}
.container .caption .title::after{
	content:'';
	position:absolute;
	left:50%;
	top:0px;
	width:0;
	height:99%;
	overflow:hidden;
	border:3px solid red;
	border-width:3px 0;
	visibility:hidden;
	transition:all 1.5s
}
.container .caption .title h1{
	margin-bottom:10px
}
.container .caption .title a{
	position:relative;
	font-size:15px;
	color:#3498db;
	z-index:1
}
.container .streamer{
	background-image:-webkit-linear-gradient(left,#3498db,#f47920 10%,#d71345 20%,#f7acbc 30%,#ffd400 40%,#3498db 50%,#f47920 60%,#d71345 70%,#f7acbc 80%,#ffd400 90%,#3498db);
	color:transparent;
	-webkit-background-clip:text;
	background-size:200%;
	animation:streamer 5s infinite linear;
}
.container .slideIn{
	opacity:0;
	transform:translate(0,20px);
	transition:opacity .5s,transform .5s;
}
.container .breathe{
    animation:breathe 5s infinite linear;
}
.container:hover img{
	filter:blur(2px)
}
.container:hover .title{
	opacity:1
}
.container:hover .title::before{
	height:101%;
	visibility:visible;
    top:0px;
}
.container:hover .title::after{
	width:100%;
	visibility:visible;
    left:0
}
.container:hover .slideIn{
	opacity:1;
	transform:translate(0px)
	}

@keyframes streamer{
		0%{background-position:0 0}
		100%{background-position:-100% 0}
	}
@keyframes breathe{
		0%{color:#3498db}
		25%{color:#d71345}
		50%{color:#f7acbc}
		75%{color:#d71345}
		0%{color:#3498db}
	}
