html{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.sixbanner{
  width: 1000px;
  height: 400px;
  margin:100px auto;
  background: green;
  position: relative;
  overflow: hidden;
}
.sixbanner ul{
	position:relative;
}
.sixbanner ul li{
	float:left;
}
.sixbanner img{
	width: 1000px;height: 400px;
}
.ear span{
	display: block;
	opacity:0;
	font:30px/100px 楷体;
	width:40px;
	height:100px;
	background: rgba(0,0,0,.5);
	text-align: center;
	position: absolute;
	top:50%;
	margin-top: -50px;
	color:white; 
	cursor: pointer;
	transition:all 1s;
}
.ear .left{
	left:0;
	border-radius: 0 10px 10px 0;
}
.ear .right{
	right:0;
	border-radius: 10px 0 0 10px
}
.icon{
	position: absolute;
	bottom:10px;
	left:50%;
	margin-left: -75px;
}
.icon li{
	border-radius: 50%;
	width:30px;
	height: 30px;
	background: rgba(255,255,255,.5);
	float:left;
	font:20px/30px 楷体;
	text-align: center;
	margin-left: 10px;
	cursor: pointer;
}
.icon .orange{
	background: orange;
}

.sixartical{
	width: 85.8%;
	margin:0 auto;
}
.sixartical p{
	/*font-family: sans-serif;*/
    line-height: 22px;
    font-size: 16px;
    /*font-weight: 300;*/
    margin: 0 0 10px;
    color: #777;
}
.sixartical blockquote{
	padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    color:#555;
    border-left: 5px solid #eee;
}
.sixartical ol{
	margin-top: 0;
    margin-bottom: 10px;
    list-style-type: decimal;
    font-size: 14px;
    color:#555;
    padding-left: 40px;
    line-height: 20px;
}
.sixartical h4{
	font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    margin-top: 70px;
    margin-bottom: 10px;
    font-weight: 555;
    line-height: 20px;
    color: #000;

}
.sixartical ul li{
	float: left;
	margin:3px 1px;
}

/*下面是表格*/
.sixmain{
	width: 85.8%;
	margin:100px auto 0;
}
.sixtop::after{
	content:"";
	display: block;
	clear: both;
}
.sixmain .sixtop{
	border:1px solid #dedede;
	padding:30px 0 0 18px;
}
.sixmain .sixtop>.mainone a{
float:left;
/*margin-right: 15px;*/
}
.sixmain div div h4{
   color:#555;
}
.maintwo a{
	margin-right: 15px;
}
.sixmain div div p:nth-child(3){
    color:#777;
    padding:5px 0 10px 0;
}
.sixmain div div p:nth-child(4){
   color:#555;
   font-size: 16.5px;
   padding-right: 1px;
   line-height: 22px;
}
.sixmain div div a:last-child{
	display: block;
   color:#02bdd5;
   font-size: 12px;
   padding:20px 0 20px 0;
}
.sixmain div div a:last-child:hover{
	color:rgb(2,140,180);
}
.sixmain div div::after{
	content: "";
	display: block;
	clear: both;
}
.sixmain div .maintwo{
	width: 85%;
	margin-right: 25px;
	border-top:1px solid #dedede;
	float: right;
	padding:50px 0 50px 0;
}
.sixmain div .maintwo a{
	float: left;
}
/*.sixmain div .maintwo
.sixmain div .maintwo
.sixmain div .maintwo*/




/*.sixbottom::after{
	content:"";
	display: block;
	clear: both;
}*/
.sixmain .sixbottom>.mainone a{
    float:left;
}
.sixmain .bottomwo{
	margin-top: 18px;
	padding:30px 0 0 18px;
	border:1px solid #dedede;
}

/* people完成 */

/* 下面为表单 */

.sixform{
	width: 85.8%;
	margin:0 auto;
	margin-bottom: -80px;
	padding-top: 50px;
	position: relative;
	/*border:1px solid red;*/
}
/*黑体  宋体  */
.sixform h3{
	font-weight: 500;
	font-size: 22px;
    margin-bottom: 10px;
    font-family:黑体;
    opacity: 1;
    transform:scaleY(1.2);
}
.sixform form input{
	float: left;
	margin-bottom: 26px;
	width: 555px;height: 35px;
	border:1px solid #bbb;
	font-family: 楷体;
	padding-left:15px;
}
.sixform form input:first-child{
	margin:0 30px 0px 0;
}
.sixform form textarea{
	border:1px solid #bbb;
	font-family: 楷体;
	padding:10px 0 0 12px;
}
.sixform form button{
	margin-top: 15px;
	width: 88px;height: 33px;
	color:white;
	border:none;
	border-radius: 6px;
	cursor:pointer;
	transition:all 1s;
	background: linear-gradient(#02bdd5,rgb(100,187,200),#02bdd5)
}
.sixform form button:hover{
	background: red;
}
.ss>span{
	width: 520px;height: 24px;
	display: block;
	font-size: 13px;
	line-height: 24px;
	text-align: right;
	position: absolute;
	top:61px;
	left:0px;
}
.ss>span:last-child{
	left:600px;
}
